.Chips {
  background-image: url('https://t4.ftcdn.net/jpg/02/56/38/41/360_F_256384176_EUBIrjAWG73DEg4RSmKQNEJg2ANh7uSC.jpg');
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.Chips-Message {
  color: white;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 1em;
  padding: 1em;
  z-index: 1;
}

.Chips button {
  padding: 15px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  background-color: pink;
}

.Chips button:hover {
  background-color: hotpink;
  cursor: pointer;
}

.Chips button:active,
.Chips button:focus {
  outline: none;
}

.bag {
  position: absolute;
  width: 40vw;
}

.Chips-Message > a {
  color: white;
}

.Chips-Message > a:hover {
  color: yellow;
}
