.Soda {
  background-image: url('https://preview.redd.it/qxsdxwsr8pd41.jpg?auto=webp&s=73a0ebf2db1ffebdedc6dc0a4f81828ec4cbd468');
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.Soda-Message {
  text-align: center;
}

.Soda img {
  animation: spin 1s linear infinite;
  width: 10em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Soda-Message > a {
  color: white;
}

.Soda-Message > a:hover {
  color: rgb(129, 115, 255);
  transform: scale(1.05);
}
